body {
    font-family: Arial, Helvetica, sans-serif;
}

.gsearch {
    width: 100%;
    height: 400px;
}

img {
    position: relative;
    left: 39%;
    top: 27.5%;
}

input {
    width: 550px;
    height: 50px;
    position: relative;
    left: 28%;
    top: 120px;
    border-radius: 25px;
    padding: 12px 20px;
    border: 1px solid #f5f3f4;
    background-color: white;
    box-shadow: 0px 0px 5px #b9b6b8;
}

.gsearch button {
    padding: 10px 15px;
    margin-left: 15px;
    position: relative;
    right: 80px;
    top: 200px;
    font-size: 14px;
    background-color: #f5f3f4;
    color: #7A7A7A;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
}

ul.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 10px;
}

ul.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 10px;
}

li {
    display: inline;
    padding: 8px;
}

#gapps {
    height: 20px;
    width: 20px;
    background-color: #7A7A7A;
    border: none;
}

.nav2 button {
    height: 30px;
    width: 70px;
    background-color: #625ffd;
    color: white;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #313131;
    font-size: 12px;
}

ul.fo1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

ul.fo2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

footer {
    background-color: #f5f3f4;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 99%;
}

footer a {
    font-size: 14px;
    color: #6b6b6b;
}